.container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: antiquewhite;
    height: 900px;
    padding-top: 20px;
    font-size: 40px;
    font-style: italic;
}
.cont{
    display: flex;
    padding-top: 20px;
}
button{
    margin-left: 200px;
    background-color: aqua;
    font-size: 40px;
    font-style: italic;
}
.problem{
    margin-top: 10px;
}
.div{
    margin-left: 10px;
}
.div2{
    margin-left: 10px;
}
.div3{
    margin-left: 10px;
}
.img{
    margin-left: 30px;
    display: none;
}
.img2{
    margin-left: 30px;
    display: none;
}
.img3{
    margin-left: 30px;
    display: none;
}
.img1{
    display: block;
}
